<h1>Sistema Gerenciador</h1>
<br>
<div class="listas">
    <h2>Clientes</h2>
    <div>
        <button><a href="/listarCliente">Listar Clientes</a></button>
    </div>
    <h2>Produtos</h2>
    <div>
        <button><a href="/cadastrarProduto">Cadastrar Produtos</a></button>
        <button><a href="/listarProduto">Listar Produtos</a></button>
        <button><a href="/editarProduto">Editar Produtos</a></button>
        <button><a href="/apagarProduto">Apagar Produtos</a></button>
    </div>
</div>